* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
}
#max-with{
    background-image: url('img/banner-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#wrapper {
    background-size: cover;
    background-position: center;
    width: 1200px;
    margin: auto;
    height: 136vh;
}

.header {
    max-width: 1200px;
    margin: 0px 150px;
    text-align: right;
    
}
#backtop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background: tomato;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
    cursor: pointer;
}
#wrapper .header .logo {
    float: left;
    font-size: 30px;
    cursor: pointer;
    padding: 25px 0px;
}


.menu__link {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}
.navbar {
    position: fixed;
    top: 0;
}
#wrapper .header .menu .menu__main {
    right: 250px;
}
#wrapper .header .menu .menu__main li {
    padding: 14px 10px;
    list-style: none;
}

#wrapper .header .menu .menu__main li a {
    text-decoration: none;
    color: white;
}

#wrapper .header .menu .menu__main li a .dow {
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(233, 161, 18);
    border-radius: 20px;
}

#wrapper .header .menu .menu__main li a .dow:hover {
    background-color: rgb(130, 144, 159);
}

#wrapper .header .menu ul li {
    display: inline-block;
}

.text__content {
    text-align: center;
    margin-top:  215px;
    color: white;
    clear: both;
}

.text__content h2,
p,
button,
img {
    margin-top: 20px;
}

.text__content img {
    width: 90%;
}

.text__content button {
    border: none;
    padding: 9px 18px;
    border-radius: 20px;
    color: white;
    background-color: rgb(19, 197, 28);
    font-size: 14px;
    cursor: pointer;
}

.text__content button:hover {
    background-color: rgb(130, 144, 159);
}

.content {
    padding: 90px 0px 0px;
    max-width: 100%;
}

.content .label {
    justify-content: space-between;
    font-size: 10px;
}

.content .label div {
    display: inline-block;
    width: 15%;
    margin-right: 28px;
    margin-left: 20px;
}

.content .label div img {
    width: 100%;
    cursor: pointer;

}

.line__ {
    margin-left: 42%;
    margin-top: 35px;
}

.line {
    align-items: center;
    width: 150px;
    height: 5px;
    margin-bottom: 10px !important;
    background: linear-gradient(rgb(254, 132, 100) 0%, rgb(254, 110, 154) 100%);
}

.text1 {
    margin-top: 10px;
}

.text1 h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}

.text1 h3 span {
    font-weight: 400;
}

.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    text-align: center;
    background-color: #fff;
    width: 25%;
    height: 400px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.content2 .row .__img {
    display: inline-block;
    position: relative;
}

.content2 .row:hover {
    border: 3px solid #fe7a7b;
}

.content2 .row .__img .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
}

.content2 .row .__img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-61%, -32%);
    font-size: 34px;
    color: #fff;
}

.content2>.row h2 {
    margin: 15px 0px;
}

.content2 .row .text2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    color: #6a6972;
    margin: 0;
}

.content2 .row .p1 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #2e2e2e;
}

.content2 .row .col a {
    text-decoration: none;

}

.content2 .row .col .p1:hover {
    color: #361cc1;
}

.content3 {
    max-width: 1200px;
    height: 500px;
    padding-top: 70px;
}

.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.content3 .container .row2 {
    display: flex;
    flex-wrap: wrap;
}

.content3 .container .row2 .left {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 50px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.content3 .container .row2 .left .title {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.content3 .container .row2 .left .title span {
    font-weight: 400;
}

.dow2 {
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
}


.content3 .container .row2 .right {
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.content3 .container .row2 .right img {
    width: 100%;
}

.content4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content4 .row3 {
    max-width: 942px;
    flex: 0 0 33.333333%;
    max-width: 27%;
    margin: 0 15px;
}

.content4 .row3 .col1 {
    box-shadow: 0 0 30px 0 rgba(167, 167, 167, .16);
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

.content4 .row3 .col1 .team_img {
    position: relative;
}

.content4 .row3 .col1 .team_img .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.content4 .row3 .col1 .team_img .social ul::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.content4 .row3 .col1 .team_img .social ul {
    background-color: rgba(255, 255, 255, 0.23);
    position: relative;
    border-radius: 50px;
    margin: 0 30px;
}

.content4 .row3 .col1 .team_img .social ul:hover {
    background: #fd7e14;
    transition: 0.5s;
}

.content4 .row3 .col1 .team_img .social ul li {
    display: inline-block;
    list-style: none;
    padding: 20px 15px;
}

.content4 .row3 .col1 .team_img .social ul li {
    color: white;
    font-size: 15px;
}

.content4 .row3 .col1 .team_img img {
    width: 100%;
    vertical-align: middle;
}

.content4 .row3 .col1 .team__content {
    padding: 30px;
}

.content4 .row3 .col1 .team__content h5 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.content4 .row3 .col1 .team__content p {
    font-size: 14px;
    margin-top: 0;
}


.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.footer {
    padding-top: 120px;
}

.container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px
}

.footer__sub {
    padding: 19px 122px 66px;
    box-shadow: 0 0 18px 0 rgba(50, 77, 215, .14);
    border-radius: 10px;
    background-color: #fff;
}

.row5 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col4 {
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__sub .row5 span {
    font-weight: 400;
}

footer .footer__sub .row5 h2 {
    font-size: 30px;
}

.footer .footer__sub .row5 .mt-1 {
    margin-top: 46px;
}

.footer .footer__sub .col4 .form {
    margin-top: 50px;
}
/* form email */
.footer .footer__sub .col4{
    position: relative;
}
form {
    width: 100%;
    margin-top: 55px;
}
form .input-box {
    display: flex;
    align-items: center;
    height: 55px;
}
.input-box input {
    height: 100%;
    outline: none;
    border: 2px solid #bfbfbf;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 45px;
}
.input-box input.input {
    width: 100%;
    margin-right: 20px;
}

.input-box input.button {
    position: absolute;
    width: 25%;
    right: 20px;
    height: 55px;
    color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #361cc1;
}
.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    margin-top: 24px;
    left: 15px;
}
.footer .footer__sub .col4 .form input {
    border: 2px solid #e1e1e1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2e2e2e;
    overflow: visible;
    outline: none;
}

.footer .footer__sub .col4 .form input:focus {
    border: 2px solid #361cc1;
}

.footer .footer__sub .col4 .form button {
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: 200%;
    border: none;
    padding: 0 20px;
}

.footer .footer__widget {
    padding-top: 175px;
    margin-bottom: 25px;
}

.footer .footer__widget .row6 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
}

.footer .footer__widget .row6 .col6 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-right: 30px;
}

.footer .footer__widget .row6 .col6 .social1 {
    padding-top: 30px;
}

.footer .footer__widget .row6 .col6 p {
    color: black;
}

.footer .footer__widget .row6 .col6 .social1 li {
    display: inline-block;
    list-style: none;
    color: black;
    margin-right: 30px;
    font-size: 25px;
}

.footer .footer__widget .row6 .col7 .link__wrapper {
    padding: 0px 30px;
}

.footer .footer__widget .row6 .footer__link {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin-right: 54px;
}

.footer .footer__widget .row6 .col7 .link__wrapper {
    padding: 0px 30px;
}

.footer .footer__widget .row6 .footer__link .footer__title h4 {
    font-size: 24px;
    font-family: 400;
    color: black;
}

.footer .footer__widget .row6 .col7 .link__wrapper ul li {
    list-style: none;
    color: black;
    padding-top: 20px;
}

.col8 {
    flex: 0 0 25%;
    max-width: 25%;
}

.footer__copyright {
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 15px;
    padding-bottom: 30px;
}
.logo_footer {
    background-image: url('img/logo.svg');
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-color: #2e2e2e;
}
.img_footer {
    position: absolute;
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url(img/footer-bg.svg);
    z-index: -1;
    background-size: cover;
    background-position: center top;
    margin-top: 460vh;
}